<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
      <%- partial('post/title', {class_name: 'archive-article-title'}) %>
      <img src="<%= post.thumbnail %>" width="256" height="256">
      <em>PlaceID: <%= post.placeid %></em>
    </header>
  </div>
</article>
